*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  background: #0ab68b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  background: #92de8b;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 700;
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.music-button {
  background-color: #e1e6f1;
  color: #333;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.music-button:hover {
  background-color: #ffa726;
}

.choose-type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-type {
  background: rgb(236, 232, 164);
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.choice-button {
  font-size: 24px;
  padding: 18px 50px;
  border: 2px solid rgba(42, 102, 44, 0.8);
  border-radius: 16px;
  background-color: #1f6d21;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice-button:hover {
  background-color: #43a047;
}

.chosen-type {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #444;
}

.spacer {
  height: 24px; 
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;
  height: 600px; 
}

.tile {
  background-color: #eee;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.tile:hover {
  background-color: #ddd;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.tile.revealed {
  background-color: white;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.hidden-tile {
  width: 100%;
  height: 100%;
  background-color: #028174;
  border-radius: 10px;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 28px;
  font-size: 18px;
  border: 2px solid rgba(42, 102, 44, 0.8);
  background-color: #29692d;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #388e3c;
}
